body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.zdog-canvas {
  background-color: #5398BE;
  width: 100%;
  height: 100%;
}

#btn-layer {
  position: absolute;
  bottom: 15%;
  right: 5%;
  z-index: 999;
}

.blue-button {
  font-weight: bold;
  padding: 20px 20px;
  background: rgb(32, 125, 201);
  border-radius: 9px;
  border-color: rgba(32, 125, 201, .5);
  color: rgba(241, 241, 243, 0.541);
  text-decoration: none;
  box-shadow: 0px 5px 0px rgb(23, 89, 143), 0px 10px 5px -5px #000;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, .3);
  font-size: 20px;
  transition: all .15s;
}

.blue-button.active,
.blue-button:active {
  box-shadow: none;
  outline: 0;
  transform: translateY(5px);
  background: rgb(37, 148, 240);
  color: rgba(253, 253, 253, 0.541);
  text-shadow: none;
}

.blue-button.focus,
.blue-button:focus {
  outline: 0;
}

.blue-button.hover,
.blue-button:hover {
  background: rgb(35, 131, 209);
}

.green-button {
  font-weight: bold;
  padding: 20px 20px;
  background: rgb(89, 209, 19);
  border-radius: 9px;
  border-color: rgba(91, 228, 12, .5);
  color: rgba(220, 220, 221, 0.841);
  text-decoration: none;
  box-shadow: 0px 5px 0px rgb(61, 145, 86), 0px 10px 5px -5px #000;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, .3);
  font-size: 20px;
  transition: all .15s;
}

.green-button.active,
.green-button:active {
  box-shadow: none;
  outline: 0;
  transform: translateY(5px);
  background: rgb(98, 235, 18);
  color: rgba(253, 253, 253, 0.541);
  text-shadow: none;
}

.green-button.focus,
.green-button:focus {
  outline: 0;
}

.green-button.hover,
.green-button:hover {
  background: rgb(92, 218, 20);
}