#battlefield {
    background: #FDB;
    cursor: move;
    width: 200;
}

#battlefield2 {
    background: #ADB;
    cursor: move;
    width: 200;
}

#illo3 {
    background: #ADF;
    cursor: move;
    width: 700;
}

#illo4 {
    background: rgb(235, 222, 43);
    cursor: move;
    width: 700;
}

#loading-layer {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.95;
    opacity: .95;
    filter: alpha(opacity=95);
    text-align: center;
    align-items: center;
    justify-content: center;
}

#loading-layer-text {
    color: rgb(247, 247, 247);
}