body {
 background-color: rgb(219, 223, 224);
 overflow: hidden;
 text-align:center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

body,
html {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
}
.zdog-canvas {
  background-color: #5398BE;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
  margin:0px;
  --top_color: hsl(135,54%,50%);
  --bottom_color: hsl(160,54%,50%);
}
.twitter,.button,textarea{
 font-family: 'Montserrat', sans-serif;
}
.button{
  font-weight:bold;
  padding: 20px 20px;
    background: #00FDDC;
    border-radius: 9px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 5px 0px #07b7a0, 0px 10px 5px -5px #000;
    text-shadow: 0px 2px 1px rgba(0,0,0,.3);
  font-size: 20px;
  position:absolute;
  bottom:15%;
  right:5%;
  transition:all .15s;
}

.button.active,.button:active{
  box-shadow: none;
  transform:translateY(5px);
  background:#07b7a0;
}

.bgg{
  background: linear-gradient(to top, var(--bottom_color) 0%,var(--top_color)  100%);
  height:100vh;
  width:100vw;
}
.but2{
  bottom:5%;
}

#result{
  position:absolute;
  top:5%;
  right:5%;
  resize:none;
  width:200px;
  height:70px;
  border-radius:20px;
  background:#f5f5f5;
  color:#252525;
  border:0px;
  padding:10px;
  box-shadow: 0px 5px lightgrey, 0px 10px 5px -5px #000;
}

.twitter{
  position:absolute;
  bottom:5%;
  left:5%;
  background:#00acee;
  color:#f5f5f5;
  border:0px;
  padding:10px;
  border-radius:5px;
  box-shadow: 0px 5px #0081b3, 0px 10px 5px -5px #000;
  text-decoration: none;
  text-shadow: 0px 2px 1px rgba(0,0,0,.3);
}

@media(max-width:600px){
  .twitter{
    bottom:15%;
  }
}